VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyDC75f5P94JVz8Bbzsliewq1Lu6GUsvNvM
VITE_FIREBASE_AUTH_DOMAIN=collexa-df90b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=collexa-df90b
VITE_FIREBASE_APP_ID=1:414633976144:web:68fab58c6fa9d0ccdccc55
